In [3]:
import pandas as pd
# Import Seaborn 
import seaborn as sns
#Import Matplot Lib
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/Users/kemi/Documents/GitHub/Machine Learning/BRIEF 3/datasets/to use/kc61_referral_outcomes.csv')
df.shape

(32, 19)

In [5]:
df

,CollectionYearRange,Parent_Org_Code,Parent_Org_Name,Org_Code,Org_Name,Org_Type,Referral_type,Part,All_samples,Cervical_cancer,CIN3_and_adeno_in_situ,CIN2,CIN1,HPV_only,No_CIN_No_HPV,Non_cerv_cancer_detected,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
0,2022-23,E92000001,England,E92000001,England,National,category_1_8_3_result,C2,132391.0,99.0,3704.0,8367.0,29541.0,17440.0,8006.0,3.0,1183.0,1256.0,56966.0
1,2022-23,E92000001,England,E92000001,England,National,category_7_4_5_6_result,C2,33117.0,959.0,15070.0,9083.0,4521.0,1460.0,909.0,4.0,66.0,51.0,452.0
2,2023-24,E92000001,England,E92000001,England,National,category_1_8_3_result,C1,31222.0,22.0,818.0,1851.0,6708.0,4022.0,1763.0,0.0,122.0,293.0,14037.0
3,2023-24,E92000001,England,E92000001,England,National,category_7_4_5_6_result,C1,6595.0,222.0,2985.0,1785.0,899.0,271.0,181.0,2.0,18.0,13.0,119.0
4,2022-23,N1,North East and Yorkshire,N1,North East and Yorkshire,Region,category_1_8_3_result,C2,17513.0,12.0,373.0,1032.0,3704.0,1556.0,1470.0,0.0,0.0,164.0,8722.0
5,2022-23,N1,North East and Yorkshire,N1,North East and Yorkshire,Region,category_7_4_5_6_result,C2,5195.0,138.0,2114.0,1610.0,781.0,201.0,186.0,0.0,0.0,16.0,79.0
6,2022-23,N2,North West,N2,North West,Region,category_1_8_3_result,C2,14118.0,9.0,305.0,804.0,2237.0,1674.0,334.0,0.0,593.0,148.0,7421.0
7,2022-23,N2,North West,N2,North West,Region,category_7_4_5_6_result,C2,3369.0,121.0,1743.0,901.0,305.0,143.0,35.0,0.0,21.0,4.0,34.0
8,2022-23,N3,Midlands,N3,Midlands,Region,category_1_8_3_result,C2,20002.0,19.0,846.0,1201.0,2966.0,2214.0,1171.0,0.0,389.0,179.0,9045.0
9,2022-23,N3,Midlands,N3,Midlands,Region,category_7_4_5_6_result,C2,4782.0,206.0,2827.0,925.0,340.0,176.0,134.0,0.0,18.0,4.0,46.0
10,2022-23,N4,East of England,N4,East of England,Region,category_1_8_3_result,C2,11630.0,15.0,426.0,662.0,1685.0,1042.0,529.0,0.0,39.0,39.0,6870.0
11,2022-23,N4,East of England,N4,East of England,Region,category_7_4_5_6_result,C2,3421.0,114.0,1828.0,779.0,334.0,113.0,122.0,0.0,12.0,2.0,52.0
12,2022-23,N5,London,N5,London,Region,category_1_8_3_result,C2,35723.0,26.0,745.0,2433.0,9425.0,6064.0,2003.0,2.0,137.0,298.0,12838.0
13,2022-23,N5,London,N5,London,Region,category_7_4_5_6_result,C2,7353.0,138.0,2375.0,2284.0,1585.0,463.0,192.0,0.0,12.0,16.0,174.0
14,2022-23,N6,South East,N6,South East,Region,category_1_8_3_result,C2,26199.0,11.0,631.0,1503.0,7170.0,3473.0,2014.0,1.0,15.0,356.0,10325.0
15,2022-23,N6,South East,N6,South East,Region,category_7_4_5_6_result,C2,7137.0,171.0,3120.0,2083.0,1041.0,333.0,214.0,3.0,3.0,8.0,58.0
16,2022-23,N7,South West,N7,South West,Region,category_1_8_3_result,C2,7206.0,7.0,378.0,732.0,2354.0,1417.0,485.0,0.0,10.0,72.0,1745.0
17,2022-23,N7,South West,N7,South West,Region,category_7_4_5_6_result,C2,1860.0,71.0,1063.0,501.0,135.0,31.0,26.0,1.0,0.0,1.0,9.0
18,2023-24,N1,North East and Yorkshire,N1,North East and Yorkshire,Region,category_1_8_3_result,C1,3877.0,2.0,76.0,209.0,766.0,323.0,249.0,0.0,0.0,34.0,2097.0
19,2023-24,N1,North East and Yorkshire,N1,North East and Yorkshire,Region,category_7_4_5_6_result,C1,983.0,22.0,408.0,288.0,160.0,37.0,35.0,1.0,0.0,2.0,18.0
20,2023-24,N2,North West,N2,North West,Region,category_1_8_3_result,C1,3158.0,3.0,88.0,179.0,440.0,344.0,74.0,0.0,9.0,36.0,1856.0
21,2023-24,N2,North West,N2,North West,Region,category_7_4_5_6_result,C1,657.0,27.0,346.0,181.0,44.0,28.0,8.0,1.0,4.0,1.0,13.0
22,2023-24,N3,Midlands,N3,Midlands,Region,category_1_8_3_result,C1,4548.0,2.0,157.0,253.0,713.0,472.0,299.0,0.0,47.0,47.0,2047.0
23,2023-24,N3,Midlands,N3,Midlands,Region,category_7_4_5_6_result,C1,1014.0,44.0,607.0,194.0,78.0,27.0,24.0,0.0,3.0,1.0,18.0
24,2023-24,N4,East of England,N4,East of England,Region,category_1_8_3_result,C1,2677.0,4.0,104.0,146.0,364.0,311.0,109.0,0.0,2.0,10.0,1587.0
25,2023-24,N4,East of England,N4,East of England,Region,category_7_4_5_6_result,C1,738.0,27.0,367.0,184.0,90.0,23.0,20.0,0.0,0.0,0.0,20.0
26,2023-24,N5,London,N5,London,Region,category_1_8_3_result,C1,8867.0,5.0,117.0,500.0,2100.0,1467.0,443.0,0.0,40.0,92.0,3539.0
27,2023-24,N5,London,N5,London,Region,category_7_4_5_6_result,C1,1401.0,32.0,444.0,436.0,282.0,82.0,55.0,0.0,5.0,3.0,39.0
28,2023-24,N6,South East,N6,South East,Region,category_1_8_3_result,C1,6400.0,4.0,178.0,386.0,1766.0,767.0,500.0,0.0,24.0,64.0,2491.0
29,2023-24,N6,South East,N6,South East,Region,category_7_4_5_6_result,C1,1385.0,50.0,597.0,371.0,213.0,60.0,38.0,0.0,6.0,5.0,11.0
30,2023-24,N7,South West,N7,South West,Region,category_1_8_3_result,C1,1695.0,2.0,98.0,178.0,559.0,338.0,89.0,0.0,0.0,10.0,420.0
31,2023-24,N7,South West,N7,South West,Region,category_7_4_5_6_result,C1,417.0,20.0,216.0,131.0,32.0,14.0,1.0,0.0,0.0,1.0,0.0

In [6]:
df.value_counts().sum()

np.int64(32)

In [7]:
df.shape

(32, 19)

In [8]:
df.columns.values.tolist()

['CollectionYearRange',
 'Parent_Org_Code',
 'Parent_Org_Name',
 'Org_Code',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'Part',
 'All_samples',
 'Cervical_cancer',
 'CIN3_and_adeno_in_situ',
 'CIN2',
 'CIN1',
 'HPV_only',
 'No_CIN_No_HPV',
 'Non_cerv_cancer_detected',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']

In [9]:
dfcropped = df[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

In [10]:
dfcropped.head(5)

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
0,2022-23,England,National,category_1_8_3_result,132391.0,99.0,17440.0,8006.0,1183.0,1256.0,56966.0
1,2022-23,England,National,category_7_4_5_6_result,33117.0,959.0,1460.0,909.0,66.0,51.0,452.0
2,2023-24,England,National,category_1_8_3_result,31222.0,22.0,4022.0,1763.0,122.0,293.0,14037.0
3,2023-24,England,National,category_7_4_5_6_result,6595.0,222.0,271.0,181.0,18.0,13.0,119.0
4,2022-23,North East and Yorkshire,Region,category_1_8_3_result,17513.0,12.0,1556.0,1470.0,0.0,164.0,8722.0

## 2022-23 entries

In [11]:
# split 22-23 
df_22_23 = dfcropped[dfcropped['CollectionYearRange'] == '2022-23']

In [12]:
df_22_23

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
0,2022-23,England,National,category_1_8_3_result,132391.0,99.0,17440.0,8006.0,1183.0,1256.0,56966.0
1,2022-23,England,National,category_7_4_5_6_result,33117.0,959.0,1460.0,909.0,66.0,51.0,452.0
4,2022-23,North East and Yorkshire,Region,category_1_8_3_result,17513.0,12.0,1556.0,1470.0,0.0,164.0,8722.0
5,2022-23,North East and Yorkshire,Region,category_7_4_5_6_result,5195.0,138.0,201.0,186.0,0.0,16.0,79.0
6,2022-23,North West,Region,category_1_8_3_result,14118.0,9.0,1674.0,334.0,593.0,148.0,7421.0
7,2022-23,North West,Region,category_7_4_5_6_result,3369.0,121.0,143.0,35.0,21.0,4.0,34.0
8,2022-23,Midlands,Region,category_1_8_3_result,20002.0,19.0,2214.0,1171.0,389.0,179.0,9045.0
9,2022-23,Midlands,Region,category_7_4_5_6_result,4782.0,206.0,176.0,134.0,18.0,4.0,46.0
10,2022-23,East of England,Region,category_1_8_3_result,11630.0,15.0,1042.0,529.0,39.0,39.0,6870.0
11,2022-23,East of England,Region,category_7_4_5_6_result,3421.0,114.0,113.0,122.0,12.0,2.0,52.0
12,2022-23,London,Region,category_1_8_3_result,35723.0,26.0,6064.0,2003.0,137.0,298.0,12838.0
13,2022-23,London,Region,category_7_4_5_6_result,7353.0,138.0,463.0,192.0,12.0,16.0,174.0
14,2022-23,South East,Region,category_1_8_3_result,26199.0,11.0,3473.0,2014.0,15.0,356.0,10325.0
15,2022-23,South East,Region,category_7_4_5_6_result,7137.0,171.0,333.0,214.0,3.0,8.0,58.0
16,2022-23,South West,Region,category_1_8_3_result,7206.0,7.0,1417.0,485.0,10.0,72.0,1745.0
17,2022-23,South West,Region,category_7_4_5_6_result,1860.0,71.0,31.0,26.0,0.0,1.0,9.0

In [33]:
df_22_23.describe(include='all')

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
count,16,16,16,16,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000
unique,1,8,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-23,England,Region,category_1_8_3_result,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,16,2,14,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,20688.500000,132.250000,2362.500000,1114.375000,156.125000,163.375000,7177.250000
std,NaN,NaN,NaN,NaN,31636.547163,230.034925,4316.373478,1956.731556,320.259452,311.638011,14037.537916
min,NaN,NaN,NaN,NaN,1860.000000,7.000000,31.000000,26.000000,0.000000,1.000000,9.000000
25%,NaN,NaN,NaN,NaN,5091.750000,14.250000,194.750000,173.000000,8.250000,7.000000,56.500000
50%,NaN,NaN,NaN,NaN,9491.500000,85.000000,1229.500000,409.500000,16.500000,45.000000,1098.500000
75%,NaN,NaN,NaN,NaN,21551.250000,138.000000,1809.000000,1245.750000,83.750000,167.750000,8802.750000
max,NaN,NaN,NaN,NaN,132391.000000,959.000000,17440.000000,8006.000000,1183.000000,1256.000000,56966.000000

#### 2022-23 max CC diagnosis

In [ ]:
# see full max rows
maxrow_22_23 = df_22_23[df_22_23['Cervical_cancer'] == df_22_23['Cervical_cancer'].max()]
maxrow_22_23[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
1,2022-23,England,National,category_7_4_5_6_result,33117.0,959.0,1460.0,909.0,66.0,51.0,452.0

#### 2022-23 min CC diagnosis

In [35]:
# see full max rows
minrow_22_23 = df_22_23[df_22_23['Cervical_cancer'] == df_22_23['Cervical_cancer'].min()]
minrow_22_23[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
16,2022-23,South West,Region,category_1_8_3_result,7206.0,7.0,1417.0,485.0,10.0,72.0,1745.0

#### 2022-23 max HPV diagnosis

In [36]:
# see full max rows
maxrow_22_23_HPV = df_22_23[df_22_23['HPV_only'] == df_22_23['HPV_only'].max()]
maxrow_22_23_HPV[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
0,2022-23,England,National,category_1_8_3_result,132391.0,99.0,17440.0,8006.0,1183.0,1256.0,56966.0

#### 2022-23 min HPV diagnosis

In [37]:
# see full min rows
minrow_22_23_HPV = df_22_23[df_22_23['HPV_only'] == df_22_23['HPV_only'].min()]
minrow_22_23_HPV[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
17,2022-23,South West,Region,category_7_4_5_6_result,1860.0,71.0,31.0,26.0,0.0,1.0,9.0

#### 2022-23 max 0 diagnosis

In [38]:
maxrow_22_23_0_diagnosis = df_22_23[df_22_23['No_CIN_No_HPV'] == df_22_23['No_CIN_No_HPV'].max()]
maxrow_22_23_0_diagnosis [['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
0,2022-23,England,National,category_1_8_3_result,132391.0,99.0,17440.0,8006.0,1183.0,1256.0,56966.0

#### 2022-23 min 0 diagnosis

In [42]:
minrow_22_23_0_diagnosis = df_22_23[df_22_23['No_CIN_No_HPV'] == df_22_23['No_CIN_No_HPV'].min()]
minrow_22_23_0_diagnosis [['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
17,2022-23,South West,Region,category_7_4_5_6_result,1860.0,71.0,31.0,26.0,0.0,1.0,9.0

#### 2022-23 highest sample count

In [40]:
maxrow_22_23_sample = df_22_23[df_22_23['All_samples'] == df_22_23['All_samples'].max()]
maxrow_22_23_sample[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
0,2022-23,England,National,category_1_8_3_result,132391.0,99.0,17440.0,8006.0,1183.0,1256.0,56966.0

#### 2022-23 lowest sample count

In [41]:
minrow_22_23_sample = df_22_23[df_22_23['All_samples'] == df_22_23['All_samples'].min()]
minrow_22_23_sample[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
17,2022-23,South West,Region,category_7_4_5_6_result,1860.0,71.0,31.0,26.0,0.0,1.0,9.0

## 2023-24 entries

In [13]:
# split 23-24 

df_23_24 = dfcropped[dfcropped['CollectionYearRange']== '2023-24']

In [14]:
df_23_24

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
2,2023-24,England,National,category_1_8_3_result,31222.0,22.0,4022.0,1763.0,122.0,293.0,14037.0
3,2023-24,England,National,category_7_4_5_6_result,6595.0,222.0,271.0,181.0,18.0,13.0,119.0
18,2023-24,North East and Yorkshire,Region,category_1_8_3_result,3877.0,2.0,323.0,249.0,0.0,34.0,2097.0
19,2023-24,North East and Yorkshire,Region,category_7_4_5_6_result,983.0,22.0,37.0,35.0,0.0,2.0,18.0
20,2023-24,North West,Region,category_1_8_3_result,3158.0,3.0,344.0,74.0,9.0,36.0,1856.0
21,2023-24,North West,Region,category_7_4_5_6_result,657.0,27.0,28.0,8.0,4.0,1.0,13.0
22,2023-24,Midlands,Region,category_1_8_3_result,4548.0,2.0,472.0,299.0,47.0,47.0,2047.0
23,2023-24,Midlands,Region,category_7_4_5_6_result,1014.0,44.0,27.0,24.0,3.0,1.0,18.0
24,2023-24,East of England,Region,category_1_8_3_result,2677.0,4.0,311.0,109.0,2.0,10.0,1587.0
25,2023-24,East of England,Region,category_7_4_5_6_result,738.0,27.0,23.0,20.0,0.0,0.0,20.0
26,2023-24,London,Region,category_1_8_3_result,8867.0,5.0,1467.0,443.0,40.0,92.0,3539.0
27,2023-24,London,Region,category_7_4_5_6_result,1401.0,32.0,82.0,55.0,5.0,3.0,39.0
28,2023-24,South East,Region,category_1_8_3_result,6400.0,4.0,767.0,500.0,24.0,64.0,2491.0
29,2023-24,South East,Region,category_7_4_5_6_result,1385.0,50.0,60.0,38.0,6.0,5.0,11.0
30,2023-24,South West,Region,category_1_8_3_result,1695.0,2.0,338.0,89.0,0.0,10.0,420.0
31,2023-24,South West,Region,category_7_4_5_6_result,417.0,20.0,14.0,1.0,0.0,1.0,0.0

In [15]:
df_23_24.describe(include='all')

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
count,16,16,16,16,16.000000,16.000000,16.00000,16.000000,16.000000,16.000000,16.000000
unique,1,8,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2023-24,England,Region,category_1_8_3_result,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,16,2,14,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,4727.125000,30.500000,536.62500,243.000000,17.500000,38.250000,1769.500000
std,NaN,NaN,NaN,NaN,7497.168664,53.394132,1001.77129,434.036097,31.479094,73.062074,3468.075643
min,NaN,NaN,NaN,NaN,417.000000,2.000000,14.00000,1.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,1006.250000,3.750000,34.75000,32.250000,0.000000,1.750000,18.000000
50%,NaN,NaN,NaN,NaN,2186.000000,21.000000,291.00000,81.500000,4.500000,10.000000,269.500000
75%,NaN,NaN,NaN,NaN,5011.000000,28.250000,376.00000,261.500000,19.500000,38.750000,2059.500000
max,NaN,NaN,NaN,NaN,31222.000000,222.000000,4022.00000,1763.000000,122.000000,293.000000,14037.000000

#### 2023-24 max CC diagnosis

In [16]:
# see full max rows
maxrow_23_24 = df_23_24[df_23_24['Cervical_cancer'] == df_23_24['Cervical_cancer'].max()]
maxrow_23_24[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
3,2023-24,England,National,category_7_4_5_6_result,6595.0,222.0,271.0,181.0,18.0,13.0,119.0

#### 2023-24 min CC diagnosis

In [17]:
# see full min rows
minrow_23_24 = df_23_24[df_23_24['Cervical_cancer'] == df_23_24['Cervical_cancer'].min()]
minrow_23_24[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
18,2023-24,North East and Yorkshire,Region,category_1_8_3_result,3877.0,2.0,323.0,249.0,0.0,34.0,2097.0
22,2023-24,Midlands,Region,category_1_8_3_result,4548.0,2.0,472.0,299.0,47.0,47.0,2047.0
30,2023-24,South West,Region,category_1_8_3_result,1695.0,2.0,338.0,89.0,0.0,10.0,420.0

#### 2023-24 max HPV diagnosis

In [18]:
# see full max rows
maxrow_23_24_HPV = df_23_24[df_23_24['HPV_only'] == df_23_24['HPV_only'].max()]
maxrow_23_24_HPV[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
2,2023-24,England,National,category_1_8_3_result,31222.0,22.0,4022.0,1763.0,122.0,293.0,14037.0

#### 2023-24 min HPV diagnosis

In [25]:
# see full min rows
minrow_23_24_HPV = df_23_24[df_23_24['HPV_only'] == df_23_24['HPV_only'].min()]
minrow_23_24_HPV[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
31,2023-24,South West,Region,category_7_4_5_6_result,417.0,20.0,14.0,1.0,0.0,1.0,0.0

#### 2023-24 max 0 diagnosis

In [31]:
maxrow_23_24_0_diagnosis = df_23_24[df_23_24['No_CIN_No_HPV'] == df_23_24['No_CIN_No_HPV'].max()]
maxrow_23_24_0_diagnosis [['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
2,2023-24,England,National,category_1_8_3_result,31222.0,22.0,4022.0,1763.0,122.0,293.0,14037.0

#### 2023-24 min 0 diagnosis

In [32]:
minrow_23_24_0_diagnosis = df_23_24[df_23_24['No_CIN_No_HPV'] == df_23_24['No_CIN_No_HPV'].min()]
minrow_23_24_0_diagnosis [['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
31,2023-24,South West,Region,category_7_4_5_6_result,417.0,20.0,14.0,1.0,0.0,1.0,0.0

#### 2023-24 highest sample count

In [21]:
maxrow_23_24_sample = df_23_24[df_23_24['All_samples'] == df_23_24['All_samples'].max()]
maxrow_23_24_sample[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
2,2023-24,England,National,category_1_8_3_result,31222.0,22.0,4022.0,1763.0,122.0,293.0,14037.0

#### 2023-24 lowest sample count

In [22]:
minrow_23_24_sample = df_23_24[df_23_24['All_samples'] == df_23_24['All_samples'].min()]
minrow_23_24_sample[['CollectionYearRange',
 'Org_Name',
 'Org_Type',
 'Referral_type',
 'All_samples',
 'Cervical_cancer',
 'HPV_only',
 'No_CIN_No_HPV',
 'Seen_Colp_result_unknown',
 'Inadequate_biopsy',
 'Seen_Colp_NAD_no_biop']]

,CollectionYearRange,Org_Name,Org_Type,Referral_type,All_samples,Cervical_cancer,HPV_only,No_CIN_No_HPV,Seen_Colp_result_unknown,Inadequate_biopsy,Seen_Colp_NAD_no_biop
31,2023-24,South West,Region,category_7_4_5_6_result,417.0,20.0,14.0,1.0,0.0,1.0,0.0